librosa==0.9.1
matplotlib
numpy
numba
phonemizer
scipy
tensorboard==2.14.0
torch==2.0.1
torchvision==0.15.2
Unidecode
amfm_decompy
jieba
transformers
pypinyin
cn2an
gradio
av
mecab-python3
loguru
unidic-lite
cmudict
fugashi
num2words
g2p_en
wandb
scikit-learn
librosa
git+https://github.com/openai/whisper.git
torchaudio==2.0.1
